@import "_var";
@import "_mixins";
@import "textAngularCustomized";
@import "../../../node_modules/angular-wizard/dist/angular-wizard.min.css";

/*=========================================================
    common
===========================================================*/
body {
  padding: {
    top:$body-padding-top;
    bottom:$body-padding-bottom;
  }

  height: $body-height;
  background-color:$background-color-grey;
  font-family: $font-family-roboto;
}

.margintop60px{
  margin-top: 80px;
}

.margintop120px{
  margin-top: 120px;
}
.vAlignMiddle{
  vertical-align: middle;
}

//angular ng-Cloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

/*=========================================================
    bootstrap overrides
===========================================================*/

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #0d87e9;;
  border-color: #2196f3;
}
/*correction bug sur theme bootstrap journal*/
.modal-backdrop{
  z-index: -1;
}
.navbar-right{
  margin-right:20px;
}

textarea, textarea.form-control, input.form-control,
input[type=text], input[type=password], input[type=email],
input[type=number], [type=text].form-control, [type=password].form-control,
[type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
font-size:$input-font-size;
}
select, select.form-control {
  font-size:$input-font-size;
}

/*container to 100%*/
@include media-bureau-min-width {
  .container
  {
    width: $container-width;
    margin-right:20px;
  }
}

@include media-smartphone-min-width {
  .container
  {
    width: $container-width;
    margin-right:20px;
  }
}

@include media-tablette-min-width {
  .container
  {
    width: $container-width;

  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}
  .container-fluid padding {
    left: 30px;
    right: 30px;
}
.panel-default>.panel-heading {
  color: $panel-defaut-panel-heading-text-color;
  background-color: $panel-defaut-panel-heading-background-color;
  border-color: $panel-defaut-panel-heading-border-color;
}
.navbar-nav>li>a {
  line-height: 30px;
}

.navbar-default .navbar-brand {
  line-height: initial;
}

.panel-heading{
  background-color: none;
  border-bottom: solid 1px $panel-defaut-panel-heading-border-color;//#CCC;
}

.navBtnGroup{
  padding-top: 20px;
  padding-bottom: 22px;
  padding-right: 15px;
  padding-left: 15px;
  }

 .table>thead>tr>th,
 .table>tbody>tr>th,
 .table>tfoot>tr>th,
 .table>thead>tr>td,
 .table>tbody>tr>td,
 .table>tfoot>tr>td{
  vertical-align: middle;
 }

a {
  &:hover {
    color: #fff;
  }

  &:focus{
    color:#fff;
  }
}

/*Forms setup*/
.form-control {
    border-radius:0;
    box-shadow:none;
    height:auto;
}
.float-label{
    font-size:10px;
}
.socialIcon{
  &:hover{
    color:$background-color-grey;
  }
  font-size: 32px;
}

input[type="text"].form-control,
input[type="search"].form-control{
    border:none;
    border-bottom:1px dotted #CFCFCF;
}
textarea {
    border:1px dotted #CFCFCF!important;
    height:130px!important;
}
/*Content Container*/
.content-container {
    background-color:#fff;
    padding:35px 20px;
    margin-bottom:20px;
}
h1.content-title{
    font-size:32px;
    font-weight:300;
    text-align:center;
    margin-top:0;
    margin-bottom:20px;
    font-family: 'Open Sans', sans-serif!important;
}

/*paper them bootstrap*/
.form-control {
  font-family:$font-family-roboto;
  display: block;
  width: 100%;
  height: 39px;
  padding: 8px 12px;
  font-size: $input-font-size;
  line-height: 1.42857143;
  color: #777777;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
/* animation ng-repeat in mailbox
easy customize animation from here : http://www.nganimate.org/angularjs/ng-repeat/yo-yo-css3-keyframes-animation*/
.animate-enter{
    -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
}
@-webkit-keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    75% {
        left: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}
@keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    75% {
        left: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}

.animate-leave {
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
}
@-webkit-keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    25% {
        left: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}
@keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    25% {
        left: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}
/* td table in myprofile */
.tdCommun{
  height: 75px;
  vertical-align: none;

}
.td40{
  @extend .tdCommun;
  width:40%;

}
.td60{
  @extend .tdCommun;
  width:60%;
}

.table-user-information{
   &>thead>tr>th,
   &>tbody>tr>th,
   &>tfoot>tr>th,
   &>thead>tr>td,
   &>tbody>tr>td,
   &>tfoot>tr>td {
    vertical-align: middle;
  }
}


/*=========================================================
   ANGULAR ANIMATIONS (in pair on animate.css)
===========================================================*/
/* animation on ng-switch */
.switchAngularFadeIn .ng-enter {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation: fadeIn 1s;
}



/*=========================================================
   wfEdit
===========================================================*/
#pageWfEdit{
  margin:{
    top:40px;
  }
  padding:{
    top:30px;
    bottom:30px;
  }
  background-color: $background-color-grey;//#FFF;//$ebony-clay-color;
  /* border-top: solid 3px white;
  border-bottom: solid 3px white; */
}
.lineCommandButtons{
  padding:{
    bottom:25px;
  }
}
.addNewLine{
    font-size: 24px; //H4 equiv
    vertical-align: middle;
    color: #666666;
}
#editor{
  margin-top: 0px;
  margin-bottom: 0px;
  height: 150px;
  background-color:#52B3D9;
  border-bottom: solid 1px #2C3E50;
}
#editor-content{
  /* padding-top: 25px; */
  /* padding-bottom: 25px; */
  text-align: center;
  color: white;
  font-size: 13px;
}
#preview{
  margin-top: 0px;
  margin-bottom: 0px;
  /* background-color: #E4F1FE; */
   border:solid 1 px #2C3E50;
  -moz-box-shadow: 0px 0px 10px 0px #ddd;
  -webkit-box-shadow: 0px 10px 5px 0px #ddd;
  -o-box-shadow: 0px 0px 10px 0px #ddd;
  box-shadow: 0px 0px 10px 0px #ddd;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#ddd, Direction=NaN, Strength=10);
}
#preview-content{
  background-color: #FFF;
  // padding-top: 25px;
  padding-bottom: 25px;
  /*text-align: center;*/
  color: black;
  /*font-size: 13px;*/
}
 #commandPanel{
  padding-top: 25px;
  padding-bottom: 25px;

 }
/*  #commandPanel.affix {
    position: fixed;
    top: 0;
    width:25%;
    margin-top: -45px;
  } */
 #visualPanel{
  padding-top: 25px;
  padding-bottom: 25px;

 }
 .customPagerButton{
  width: 145px;
  margin : {
    left : 2px;
    right: 2px;
  }

 }
 .numberOfColumnsLabel
 {
  font-size: 32px;
  text-align: center;
  padding:{
    top:25%;
    bottom:25%;
  }
  font-weight: bold;
  text-align: center;
  color:#666666;
 }
 .btnMinusColumns{
    margin-top: 10px;
 }
 .btnAddColumns{
    margin-top: 10px;
 }
 .numberOfcolumsText{
  color: #666666;
 }
.greyText{
  color: #666666;
 }
 .blackText{
  color: #000;
 }
/*=========================================================
  ANIMATE NG-SWITCH
=========================================================*/
.animate-switch-container {
  position:relative;
  background:white;
  border:{
      top:solid 1px $white-smoke-color;
      bottom:solid 1px $white-smoke-color;
    }//1px solid black;
  height:750px;//100%;
  overflow:scroll;
   .well{
      background-color:$jordy-color;
      margin:{
        bottom:0px;
      }
      color: $white-smoke-color;

   }
}
.linesList{
  margin:{
    top:5px;
  }
}
/*switch 1 : move top*/
.animate-switch {
  padding:10px;
}
.animate-switch.ng-animate {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  left:0px;
  top:-500px;
  opacity: 0;

}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  left:0px;
  top:0px;
  opacity: 0.8;
}
/*=========================================================
  STEP INDICATOR
=========================================================*/
.stepwizardTopmargin{
  margin:{
    top:25px;
  }
}

.stepwizard-step p {
    margin-top: 10px;
    color: #666666;
}

.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.panelDebugScope{
  color:#000;
}
/*=========================================================
  Modal add control
=========================================================*/

.texteRouge{
  color: $monza-color;
}
.editPropertiesLabel{
  // color: #000;
  margin:{
    top:6px;
  }
}
.textControlLabel{
  color: #000;
}
.marginTopFivepixels{
    margin:{
    top:5px;
  }
}
.marginTopTenpixels{
    margin:{
    top:5px;
  }
}
.checkboxCssCorrection{
  font-size: 4px;
}
.noGroupText{
  margin-bottom: 0px;
}
.nya-bs-select{
  margin-bottom:16px;
}
// textAngular div to apply a margin bottom
.ta-scroll-window
{
  margin-bottom:16px;
}
//checkbox Y-placement correction
.formly-field-checkbox{
  margin-top: 28px;
}
#inputAddNewRadioOption{
  margin-bottom : 20px;
}
#inputAddNewBasicOption{
  margin-bottom : 20px;
}
#inputAddNewGroupedOption{
  margin-bottom : 20px;
}
#inputAddNewGroupGroupedOption{
  margin-bottom : 20px;
}
.editGroupedSelectnyaSelect {
    margin-bottom:0px;
}

/**
 * formly fiedl css
 */
.formly-field {
  margin-bottom: 20px;
}

.validation {
  position: absolute;
  font-size: .8em;
  color: #a94442;
  // margin-top: 2px;
}

.formly-template-wrapper {
  position: relative;
}


.error-messages {
  position: relative;
}

.error-messages, .message, .validation {
  opacity: 1;
  transition: .3s linear all;
}

.message {
  font-size: .8em;
  position: absolute;
  width: 100%;
  color: #a94442;
  margin-top: 2px;
}

.error-messages.ng-enter.ng-enter-active,
.message.ng-enter.ng-enter-active,
.validation.ng-enter.ng-enter-active {
  opacity: 1;
  // top: 0;
}

.error-messages.ng-enter,
.message.ng-enter,
.validation.ng-enter {
  opacity: 0;
  // top: -10px;
}

.error-messages.ng-leave,
.message.ng-leave,
.validation.ng-leave {
  opacity: 1;
  // top: 0;
}

.error-messages.ng-leave-active,
.message.ng-leave-active,
.validation.ng-leave-active {
  opacity: 0;
  // top: -10px;
}
